In [1]:
import pandas as pd

In [3]:
df_data = pd.read_excel("../raw_data/raw_values_LC50.xlsx", sheet_name="raw_value")
df_data

    Treatment  Time  Reply  Dead
0          52     1      1     5
1          52     1      2     5
2          52     1      3     4
3          49     1      1     1
4          52     2      1     5
5          52     2      2     5
6          52     2      3     6
7          49     2      2     2
8          49     2      3     1
9          36     2      3     1
10         42     4      3     1
11         49     5      3     1
12         49     7      1     1
13         49     7      2     1
14         49    10      2     1
15         34    12      1     1
16         42    13      2     1
17         49    13      3     1
18         49    16      1     3
19         49    16      2     2
20         49    17      1     1
21         49    17      3     2
22         49    18      2     1

In [4]:
df_data["Treatment"].value_counts()

49    13
52     6
42     2
36     1
34     1
Name: Treatment, dtype: int64

- Reemplazar

In [ ]:
# 34 - 34
# 36 - 36.4
# 42 - 45.8
# 49 - 51.8
# 52 - 57.7

- Estimar curva de dosis respuesta