## Analysis of relative expression

- Processing warnings

In [1]:
import warnings
warnings.filterwarnings('ignore')

- Loading modules

In [2]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from statsmodels.stats.multicomp import pairwise_tukeyhsd
from itertools import combinations

- Loading raw data

In [3]:
df_data = pd.read_excel("../raw_data/relative_expression.xlsx", sheet_name="relative_expression")
df_data = df_data[["sample", "expression", "treat", "time"]]
df_data

     sample  expression  treat  time
0         1    1.609675      0     0
1         1    1.705633      0     0
2         1    1.839750      0     0
3         1    1.690755      0     0
4         1    1.663931      0     0
..      ...         ...    ...   ...
115     152    0.544677     42    28
116     153    0.976968     42    28
117     154    0.417831     42    28
118     155    0.788235     42    28
119     156    1.163438     42    28

[120 rows x 4 columns]

In [4]:
df_data["time"].value_counts()

time
0     23
7     21
21    21
14    20
4     18
28    17
Name: count, dtype: int64

In [5]:
df_data["treat"].value_counts()

treat
36    29
42    28
34    28
0     23
49    12
Name: count, dtype: int64

In [6]:
df_data["treat"] = df_data["treat"].replace({0: "Time Zero (34.0 g/L)", 34: "34.0 g/L (Control)", 
                                           36: "36.4 g/L", 42: "45.8 g/L",
                                           49: "51.8 g/L"})

In [7]:
df_data.columns = ["sample", "Relative Expression",	"Dilutions of brine", "Days"]

In [8]:
df_data["Dilutions of brine"] = df_data["Dilutions of brine"].astype(str)
df_data["Days"] = df_data["Days"].astype(int)

In [9]:
df_data.to_csv("../data_for_plots/relative_expression/data_for_plot.csv", index=False)